.section-wrapper {
  display: flex;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}
/* .first-img-div{
  flex: 0.5;
} */
.first-img-container {
  /* border: 2px solid green;
  width: 700px;
  height: 500px;
  overflow: hidden; */
  padding: 0.7rem;
  flex: 0.5;
  box-shadow: 3px 5px 5px #ccc;
}
.first-img-container img {
  width: 100%;
  height: 40vh;
  /* object-fit: cover; */
}
.first-container-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  background-color: white;
  padding: 3%;
  box-sizing: border-box;
  font-size: 18.5px;
}
.first-container-btn span {
  display: flex;
  align-items: center;
  color: #003057;
}

.second-img-div {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.second-right-div-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;
  background-color: white;
}
.second-right-div-content span{
   color:rgb(0, 0, 85);
   font-size: 24px;
   }
   .second-right-div-content h3{

     color: var(--brand-colors-bg-color-primary, #003057);
     font-size: 40px;
     font-family: Montserrat;
     font-style: normal;
     font-weight: 400;
     line-height: 125%;
   }
   .second-right-div-content a {
    text-decoration: none;
    font-size: 20px;
   }
.second-img-container {
  box-shadow: 3px 5px 5px #ccc;
}
.second-img-container img {
  width: 100%;
  height: 25vh;
}

.second-div-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: white;
  padding: 2%;
  box-sizing: border-box;
}
.second-div-btn a {
  text-decoration: none;
  font-size: 18px;
}
.second-div-btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  gap: 5px;
  border-radius: 20px;
  width: 18vh;
  height: 5vh;
  color: white;
  background-color: rgb(3, 71, 145);
}

@media screen and (max-width: 940px) {
  .section-wrapper {
    max-width: 100%;
    flex-direction: column;
  }
}

@media screen and (max-width: 490px) {
}
